@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);

body {
  background: url("../src/assets/bg-main-desktop.png");
  background-position: top left;
  margin: 0;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 20px;
  left: 120px;
}

.header {
  border: 1px solid red;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 10%;
  text-align: center;
  color: #282828;
  margin: 30px 0;
}

.header h1 {
  margin-top: 60px;
}

.header h2,
.header h3 {
  margin-top: 50px;
}

.header h1 {
  font: 500 3em/1.8em 'Roboto', sans-serif;
}

.header h2 {
  font: 300 1.8em/1em 'Roboto', sans-serif;
}

h3 {
  font: 300 1.4em/1em 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
}

.conversionForm {
  margin: auto;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  font: 300 1.2em/1em 'Roboto', sans-serif;

}

.conversionForm_form {
  width: 100%;
}

.conversionForm label {
  font-weight: 500;
}

.conversionForm select,
.conversionForm input {
  outline: none;
}

.conversionForm_currency {
  width: 80%;
  margin: auto;

}

.conversionForm_currency label {
  justify-content: center;
  text-align: center;
  display: block;
}

.conversionForm_currency input {
  margin: 5px auto;
  display: block;
  cursor: pointer;
}

.conversionForm_currencies {
  width: 100%;
  float: left;
  clear: left;
  margin: 10px 0;
}

.conversionForm_currencies div {
  width: 50%;
  float: left;
}

.conversionForm_currencies div label {
  width: 100px;
  height: 35px;
  text-align: center;
  display: flex;
}

.conversionForm_currencies div select {
  width: 60px;
  font: 400 1.4em/1em 'Roboto', sans-serif;
  border: 1px solid red;
  border-radius: 0.2rem;
  margin-left: 0px;
  margin-right: 0px;
}

.group_num {
  border: 1px solid gray;
  border-radius: 0.2rem;
  font-size: 20px;
  font: 300 1.8em/1em 'Roboto', sans-serif;
  padding: 5px;
  width: 40%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.rates_by_groups {
  font-size: 15px;
  font-weight: 400;
  width: 40%;
  height: 300px;
  /* background-color: #afc6d0; */
  margin: auto;
  margin-top: 10px;
  display: flex;
  /* background-color: bisque; */
  align-content: center;
  justify-content: center;

}

.rates_by_groups div {
  width: 100%;
  background: #97caba;
  font: 360 1.1em/1em 'Roboto', sans-serif;
  line-height: 1.6;
  align-items: center;
  margin: 2px;
  padding-top: 15px;
  padding-left: 10px;
}

.rates_by_groups h4 {
  color: #282828;
  align-items: center;

}

.count {
  color: red;
  font: 300 1em/1em 'Roboto', sans-serif;
}

.sequence {
  font: 320 1.4em/1em 'Roboto', sans-serif;
  color: red;
  text-align: center;
  width: 100%;
}

.footer {
  display: grid;
  justify-content: space-around;

  justify-items: center;
  align-items: center;
  align-content: center;
}

.footer p {
  font: 320 1.3em/1em 'Roboto', sans-serif;
}

.footer img {
  float: left;
}

.media {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}